<IfModule mod_rewrite.c>
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
#RewriteRule ^([a-z]+)\/?$ $1.php [NC]


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.*)$ $1.html
#RewriteRule ^([a-z]+)\/?$ $1.html [NC]

#RewriteCond %{HTTPS} off
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond $1 !^(main\.php)
RewriteRule ^([^/\.]+)/?$ main.php?type=page&page=$1 [L]

RewriteCond $1 !^(c_auth\.php)
RewriteRule ^auth/([^/\.]+)/?$ c_auth.php?type=auth&auth=$1 [L]

#RewriteCond $1 !^(tampil\.php)
#RewriteRule ^berkas/([^/\.]+)/([^/\.]+)/?$ tampil.php?file=berkas&type=$1&id=$2 [L]

#RewriteCond $1 !^(resett\.php)
#RewriteRule ^reset/([^/\.]+)/?$ resett.php?action=reset&kode=$1 [L]

</IfModule>